.container {
  width: 50%;
  border: 1px solid black;
  background-color: antiquewhite;
  padding: 10px;
  margin: 0 auto;
}

.add-btn{  
  background-color: rgb(204, 94, 20); 
  color: white;
  float: right;
}

